html {
    background-color:#e3e3e3;
    margin: 0;
}
.navbar {
    font-family: 'Lobster', cursive;
    padding-left: 250px;
}
.dropdown-item {
    font-family: Arial, Helvetica, sans-serif;

}
.h1 {
    padding-right: 10px;
}
.fab {
    padding-right: 5px;
}
.createNew {
    font-family: Arial, Helvetica, sans-serif;
}
.fas {
    font-size: 16px;
}
.tab-pane {
    background-color: rgb(245, 245, 245);
}
div.post {
    background: white;
    width: 100%;
    margin-top: 10px;
}
div.post img {
    width: 100%;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    /*padding: 10px;*/
    text-align: right;
 }
div.post h2, div.post p {
    padding: 10px; 
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}