html {
    background-color:#e3e3e3;
    margin: 0;
}
.navbar {
    font-family: 'Lobster', cursive;
    padding: 1rem 7rem !important;
}
.dropdown-item {
    font-family: Arial, Helvetica, sans-serif;

}
.h1 {
    padding-right: 10px;
}
.fab {
    padding-right: 5px;
}
.fas {
    text-align: center;
}
.createNew {
    font-family: Arial, Helvetica, sans-serif;
}
.border {
    margin: 2px;
    padding: 2px;
}
.tab-pane {
    background-color: rgb(245, 245, 245);
}
.col-4 {
    background-color: rgb(212, 209, 209);
}
.active {
    background-color: gray !important;
    color: white !important;
}
.tab-pane {
    background-color: rgb(212, 209, 209) !important;
}
/* .grid {
    background-color: white;
    color: gray;
} */
/* .nav-link {
    background-color: white !important;
    color: gray !important;
} */
div.post {
    background: white;
    width: 100%;
    margin-top: 10px;
}
div.post img {
    width: 100%;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    /*padding: 10px;*/
    text-align: right;
 }
div.post h2, div.post p {
    padding: 10px; 
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}